<table class="table">
<strong>Seat_Details:</strong>
  <thead>
  
    <tr>
      <th scope="col">class_type</th>
      <th scope="col">seat_type</th>
      <th scope="col">seat_no</th>
    </tr>
  </thead>

  <tbody>
    <tr class="border row-margin-05" >
      <td> <%= seat.p_name %></td>
      <td><%= seat.p_age %></td>
      <td> <%= seat.p_gender %></td>
     
    </tr>
    <br>
  </tbody>

</table>