<center>
<h1>Welcome to Railway Reservation System</h1>
<p>
  your ticket are confirmed in railwayreservationsystem.com,
  your username is: <%= @user.email%>.<br>
</p>
<p>    
Ticket Details are:
<%= @user.email%>
</p>
<p>

  To see the tickets, just follow this link:<%= link_to " Your tickets here", tickets_url %>.
</p>
<p>Thanks for booking ticket and have a great day!</p>
</center>