<p style="color: green"><%= notice %></p>

<div>
<%= button_to "Back to Seat Availibility Status", search_path ,:method => :get,class: "btn btn-primary" %>

</div>
<center><h1>All Trains</h1></center>

<div id="trains">
  <% @trains.each do |train| %>
    <%= render train %>
    <p>
      <%= link_to "Show this train", train %>
    </p>
  <% end %>
</div>


