<p style="color: green"><%= notice %></p>

<center><h1>Trains</h1></center>

<%= render @train %>

<%= link_to "Add Passenger", new_passenger_path %>

<div>

<br><br>
<%= button_to "Back to Home", trains_path ,:method => :get,class: "btn btn-primary" %>

</div>
