<center>
<h1>Trains</h1>


<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Train No.</th>
      <th scope="col">Train Name</th>
      <th scope="col">Source Station</th>
      <th scope="col">Destination Station</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |result| %>
    <tr>
      <td><%= result.train_number %></td>
      <td><%= result.train_name %></td>
      <td><%= result.source_station %></td>
      <td><%= result.destination_station%></td>
      <td><button type=”button” class=”btn btn-primary”> Book Now </button></td>
    </tr>
    <% end %> 
  </tbody>
</table>
</center>