<div id="<%= dom_id passenger %>">
  <p>
    <strong>Passenger_name:</strong>
    <%= passenger.p_name %>
  </p>

  <p>
    <strong>Passenger_age:</strong>
    <%= passenger.p_age %>
  </p>

  <p>
    <strong>Passenger_gender:</strong>
    <%= passenger.p_gender %>
  </p>

</div>
