<table class="table">
<strong>Passenger_Details:</strong>
  <thead>
  
    <tr>
      <th scope="col">Passenger_name</th>
      <th scope="col">Passenger_age</th>
      <th scope="col">Passenger_gender</th>
    </tr>
  </thead>

  <tbody>
    <tr class="border row-margin-05" >
      <td> <%= passenger.p_name %></td>
      <td><%= passenger.p_age %></td>
      <td> <%= passenger.p_gender %></td>
     
    </tr>
    <br>
  </tbody>

</table>