<table class="table">
<strong>Payments_Details:</strong>
  <thead>
  
    <tr>
      <th scope="col">Payment Method</th>
      <th scope="col">Payment_Status</th>
      <th scope="col">Payment_Amount</th>
    </tr>
  </thead>

  <tbody>
    <tr class="border row-margin-05" >
      <td> <%= payment.payment_method%></td>
      <td><%= payment.payment_status%></td>
      <td> <%= payment.payment_amount %></td>
     
    </tr>
    <br>
  </tbody>

</table>